@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
    --p-size: 15px;
}

body {
    background: var(--light-gray);
    font-family: "Outfit", sans-serif;
    text-align: center;
}
.parent {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.child {
    border-radius: 15px;
    width: 300px;
    background: var(--white);
    padding: 15px;
}
img {
    width: 100%;
    border-radius: 10px;
}
p {
    font-size: 15px;
    color: var(--grayish-blue);
    width: 85%;
    padding-left: 20px;
}